
<nav class="navbar bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">OMEGAS PROMISE</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>









<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <a class="container-fluid"></a>
    <a class="navbar-brand" href="#">OMEGA'S PROMISE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
      <li class="nav-item">
  <a class="nav-link" routerLink="home">
    Home</a> 
      </li>
  
      <li class="nav-item">
    <a class="nav-link" routerLink="donate">
        Donate
    </a> 
      <li>
  
      <li class="nav-item">
    <a class="nav-link" routerLink="about">
        About
    </a> 
      </li>
  
      <li class="nav item">
    <a class="nav-link"routerLink="contact">
        Contact
    </a>
      </li>
    </div>
  </div>

    <div id="omegaCarouselphotos" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/Omegaapp/src/assets/IMAGES/Summer Images.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/Omegaapp/src/assets/IMAGES/Summer Images 2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/Omegaapp/src/assets/IMAGES/Summer Images 3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div> -->

      <router-outlet></router-outlet>